{% extends 'base.html' %} {% block content %}

<h1>Quotes</h1>

{% for quote in quotes %}
<a href="/quotes/{{ quote.id }}">
  {% comment %}
  <a href="{% url 'detail' cat.id %}">
    {% endcomment %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ quote.theme }}</span>
        <p>Theme: {{ cat.breed }}</p>
        <p>Description: {{ quote.description }}</p>
        <p>Content: {{ quote.content }}</p>
        <p>Date: {{ quote.date }}</p>
      </div>
    </div>
  </a>
  {% endfor %} {% endblock %}
</a>
