{% extends 'base.html' %} {% block content %}

<h2>Quotes List</h2>

{% for quote in quotes %}

<a href="/quotes/{{ quote.id }}">
  {% comment %} < href="{% url 'detail' cat.id %}"> {% endcomment %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ quote.theme }}</span>
      <p>Theme: {{ quote.theme }}</p>
      <p>Author: {{ quote.author }}</p>
      <p>Content: {{ quote.content }}</p>
      <p>Date: {{ quote.date }}</p>
    </div>
  </div>
</a>
{% endfor %} {% endblock %}
