.fullscreen-bg__video {
  position:center;
  display:block;
  margin: 0 auto;
  min-width: 70%;
  min-height: 70%;
  z-index: -1;
}
.content-top{
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  font-family:arial;
  font-size: 2rem;
  height: 50%;
  padding-top: 2rem;
  position:center;
}

.container{
  position:center;
  text-align: center;
  color:white;

}
.new-quote{

  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color: white;

}


#new-quote{
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color: white;

}
.top-right{
  display:flex;
  justify-content:space-around;
  justify-content:flex-end;
  color: #f1f1f1;
  font-size: 20px;
  font-family: inherit;
  align-items: right;
  padding: .5rem;
  padding-right:1rem;
}

.content {
 top: 100;
  bottom: 100;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 0px;
  height: 30%;
}
.content-bottom {
   background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  font-family:arial;
  font-size: 1rem;
  padding: 2rem;
}
.btn {
  position: fixed;
  bottom: 5%;
  right: 0px;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5rem 0.7em;
  background: transparent;
  color: #F9B31C;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s;
  z-index: 11;
}

.btn:hover {
  background: #ffffff;
  color: #2a2b2f;
}

#date {
  color:white;
  text-align:center;
  font-size:2.5em;
}

/* .centered{
 position: center;
  top: 50%;
  left: 50%;
  font-family: inherit;
  font-size:5.2rem;
  color: white;
  transform: translate(-50%, -50%);
  margin: 100px;

} */

/* *{
  box-sizing:border-box;
}
body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #333;
  overflow-x:hidden;
  line-height:1.5;
}
.v-header{
  display:flex;
  height:100vh;
  align-items: center;
  color:#fff;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}
.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fulscreen-video-wrap video{
  min-width:100%;
  min-height:100%;

}

.header-overlay{
  height:100vh;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  background:#225470;
  z-index:1;
  opacity:0.85;
}


.middle{
  position: fixed;
  right: 0;
  bottom: 0;
  left:0;
  min-width:100%;
  min-height:100%;

}
/* #date {
  color: white;
  text-align: center;
  font-size: 2.5em;
}

#time {
  color: white;
  text-align: center;
  font-size: 5em;
} */ */ */


/*
.btn {
  position: fixed;
  bottom: 5%;
  right: 0px;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.7em;
  background: transparent;
  color: #F9B31C;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s;
  z-index: 11;
}

.btn:hover {
  background: #ffffff;
  color: #2a2b2f;
}


.rights{
  position:relative;
} */
