{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,100&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static './main.css' %}" />

    <title>QuoteCollector -{% block title %} {% endblock %}</title>
  </head>

  <body>
    <header class="v-header container">
      <div class="fullscreen-video-wrap">
        <vido src="" autoplay="true" loop="true">
        </video>
        <div class="header-overlay">
        <a href="#" class="btn">read more</a>
        </div>
    </header>
    <section class="section section-a">
    <div class="container">

    </section>
     <div id="myVideo">
        <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">

        <source src="https://res.cloudinary.com/dbux8pdyi/video/upload/v1617739199/13_kpzt8r_mrzw9i.mp4" type="video/webcam">

        <source src="https://res.cloudinary.com/dbux8pdyi/video/upload/v1617739197/4_nqdsdn_boenrw.mp4" type="video/webcam">
         <source src="https://res.cloudinary.com/dbux8pdyi/video/upload/v1617739197/4_nqdsdn_boenrw.mp4" type="video/webcam">
        <source src="https://res.cloudinary.com/dbux8pdyi/video/upload/v1617739199/13_kpzt8r_mrzw9i.mp4" type="video/webcam">

        <source src="https://res.cloudinary.com/dbux8pdyi/video/upload/v1617739195/5_xhz9of_fgsu7l.mp4" type="video/webcam">
        <source src="https://res.cloudinary.com/dbux8pdyi/video/upload/v1617739197/6_v9cxwu_w3vtwk.mp4" type="video/webm">

         <source src="https://res.cloudinary.com/dbux8pdyi/video/upload/v1617739205/9_h3zaob_e6dnwa.mp4" type="video/webcam" name="flower">
         <source src="https://res.cloudinary.com/dbux8pdyi/video/upload/v1617739197/6_v9cxwu_w3vtwk.mp4" type="video/webm" name="girl">
        </video>
      </div>
    </main>
      <div class="content">
        <h1>QuoteCollector</h1>
        <ul><a href="/about">About</a></ul>
        <ul><a href="/quotes">Quotes</a></ul>
        <ul><a href="/reviews">Reviews</a></ul>
      </div>
    <div>
    life in your years." -Abraham Lincoln'
    </div>

    {% block content %}{% endblock %}

    <script src="{% static 'custom.js' %}"></script>
  <script>
    let nowDate = new Date()
  </script>

      <footer>
        <div class="rights">
          All Rights Reserved, &copy; 2021 QuoteCollector
        </div>
      </footer>
  </body>
</html>
