{% extends 'base.html' %} {% block content %}



</header>
<main id="quoteDisplay" class="content"></main>

<button>
  <a class="btn btn-main" href="/index/">New Quote</a>
</button>

<script>
  document.getEventListiner('DOMContentLoaded', function () {
    const choices = document.querySelectorAll('select');
    const dates = document.querySelectorAll('.datepicker');

    const choicesInstances = M.FormSelect.init(meals);
    const dateInstances = M.Datepicker.init(dates, options);
  });
</script>
{% endblock %}
