{% extends 'base.html' %} {% block content %}

<h1>Welcome to Quote Collector</h1>

</header>
<main id="quoteDisplay" class="container"></main>
<div>
  <button onClick="newQuote()">New Quote</button>
</div>
<button>
  <a class="btn btn-main" href="/index/">Quote</a>
</button>

<script>
  document.getEventListiner('DOMContentLoaded', function () {
    const choices = document.querySelectorAll('select');
    const dates = document.querySelectorAll('.datepicker');

    const choicesInstances = M.FormSelect.init(meals);
    const dateInstances = M.Datepicker.init(dates, options);
  });
</script>
{% endblock %}
