* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
body {
  height: 100vh;
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* -------------------------NAV CSS--------------- */
nav {
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: rgb(136, 136, 136);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
}
.nav {
  display: flex;
  justify-content: space-evenly;
}
.nav li {
  display: inline;
}
.nav a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: color 0.2s ease-in-out;
}
.nav a:hover {
  color: white;
}
.search-bar {
  align-self: flex-end;
  margin: 10px 10px 0 0;
  padding: 0;
}
.search-bar input{
  width: 200px;
}
.search-bar button{
  border-radius: 5px;
  padding: 2px;
  border: 1px solid black;
  cursor: pointer;
  background: none;
  transition: background .2s ease-in-out;
}
.search-bar button:hover {
  background: black;
  color: white;
}
/* -------------------------NAV END--------------- */
/* -------------------------FOOTER CSS--------------- */
footer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(136, 136, 136);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  max-height: 50px;
  padding: 10px 0;
}
.contact-title {
  padding-top: 10px;
}
.contact-ul {
  list-style: none;
  padding-bottom: 10px;
}
.social-media {
    display: flex;
    justify-content: space-between;
    min-width:118px;

}
/* -------------------------FOOTER END--------------- */
main {
  width: 100%;
  min-width: 700px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(202, 202, 202));
  background-repeat: no-repeat;
}
.main-featured {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.main-featured h1 {
  font-size: 50px;
  margin-left: 20px;
}
.three-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.top-container {
  background: rgb(182, 181, 181);
  padding: 30px 20px 30px 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.three-set {
  width: 31%;
  min-width: 200px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  box-sizing: border-box;
}
.three-set a {
  display: flex;
  justify-content: center;
}
.three-set img {
  width: 85%;
}
.four-panel {
  width: 40%;
  height: 40%;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.three-set img {
  width: 100%;
  transition: box-shadow .2s ease-in-out;
  margin-bottom: 5px;
}
.three-set img:hover {
  box-shadow: 3px 3px 6px black;
}
.main-title {
  font-size: 25px;
  text-align: center;
  margin: 0px 0 15px 0;
}
.middle-best {
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.circle-container {
  padding: 0 25px 25px 25px;
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
}
.round {
  width: 150px;
  height: 150px;
}
.round img {
  width:100%;
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
  transition: box-shadow .2s ease-in-out;
}
.round img:hover{
  box-shadow: 3px 3px 6px black;
}
.half-set {
  margin-bottom: 20px;
  width: 45%;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items:flex-end;
  flex-direction: column;
  background-color: rgb(182, 181, 181);
}
.half-set p {
  padding: 10px;
  font-style: italic;
  overflow: hidden;
}
.fa-quote-left {
  font-size: 25px;
  align-self: flex-start;
  margin: 10px 0 0 20px;
}
.fourth-set {
  width: 25%;
  height: 300px;
  display: flex;
  align-items: center;
}
.fourth-set img {
  width: 100%;
  transition: box-shadow .2s ease-in-out;
  max-height: 350px;
}
.fourth-set img:hover {
  box-shadow: 3px 3px 6px black;
}
.ad-set {
  width: 25%;
  height: 300px;
  background-image: url('https://picsum.photos/500/500');
}
/* --------------------------------INDEX CSS---------------- */
.index-container {
  display: flex;
  flex-direction: row;
}
.ad-long {
  margin-top: 10px;
  height: 600px;
  width: 15%;
  background: url('https://picsum.photos/150/600');
}
.index-ul {
  list-style-type: none;
  width: 70%;
  margin: 20px 40px 20px 40px;
}
.title {
  font-size: 20px;
}
.index-list {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.pic-holder {
  width: 30%;
  min-width: 150px;
}
.pic-holder img {
  width: 100%;
}
.user-pic-holder{
  width: 150px;
}
.user-index-pic {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.holder {
  width: 40%;
  margin-top: 10px;
  min-width: 150px;
  background: url('https://picsum.photos/500/500');
}
.edit-delete {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.edit-delete button {
  background: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 3px;
  font-size: 15px;
}
.edit-delete button:hover {
  background: red;
  color: white;
}
.edit-delete a {
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
}
.edit-delete a:hover {
  background-color: black;
}
.index-info {
  width: 75%;
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index-info a {
  text-decoration: none;
  color: black;
  transition: text-shadow 0.2s ease-in-out;
}
.index-info a:hover {
  color: white;
  text-shadow: 2px 2px 4px black;
}
/* --------------------------------INDEX END---------------- */
/* --------------------------------FORM START---------------*/
.form-holder {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background: lightgrey;
}
.form-holder button {
  width: 100%;
  height: 30px;
}
form button {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  transition: background .1s ease-in-out;
}
form button:hover {
  background: black;
  color: white;
}
.form-holder div {
  margin-bottom: 5px;
}
.list-title {
  display: inline-block;
  text-align: end;
  width: 49.5%;
}
input {
  width: 49.5%;
  border: none;
  border-radius: 0;
  height: 20px;
}
.fa-star {
  color: gray;
  cursor: pointer;
}
.review-star:hover {
  color: gold;
}
.filled {
  color: gold;
}
.rating {
  display: none;
}
.textarea-box {
  display: flex;
}
textarea {
  margin-left: 5px;
  width: 50%;
}
/* --------------------------------FORM END---------------*/
/* --------------------------------SHOW START---------------*/
.game-show-page {
  padding: 15px;
}
.two-holder {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 40px 20px 30px;
}
.two-holder h3 {
  margin-bottom: 15px;
}
.game-link {
  font-size: 20px;
}
.show-des {
  display: block;
  width: 100%;
  margin-left: 10px;
}
.show-ul {
  list-style-type: none;
}
.show-ul a {
  text-decoration: none;
  color: black;
  transition: text-shadow 0.2s ease-in-out;
}
.show-ul a:hover {
  color: white;
  text-shadow: 2px 2px 4px black;
}

.show-stats {
  width: 55%;
  line-height: 35px;
  font-size: 18px;
}
.show-stats span {
  font-weight: bold;
}
.review-li {
  margin-bottom: 10px;
}
.profile-pic {
  width: 30%;
  padding-right: 20px;
  text-align: center;
}
.profile-pic img {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.review-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.review-box {
  width: 100vw;
}
.review-button a {
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px;
  display: inline;
  transition: background .1s ease-in-out;
  text-decoration: none;
  color: black;
}
.review-button a:hover{
  background: black;
  color: white;
}

.everything-box {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.img-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-box {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.show-img {
  margin-top: 10px;
  width: 80%;
  max-width: 500px;
}

/* --------------------------------SHOW END---------------*/
/* --------------------------------ERROR END---------------*/
.error-section {
  text-align: center;
}
.error-title {
  margin-top: 20px;
  font-size: 50px;
}
.error-message {
  font-size: 25px;
}
/* --------------------------------ERROR END---------------*/
/* -------------------------- RESPONSIVE MEDIA */
@media screen and (max-width: 650px) {
  .main-featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  .main-featured h1 {
    font-size: 30px;
  }
  .main-featured img {
    width: 15%;
  }
  .index-container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
  }
  .ad-long {
    margin-top: 10px;
    height: 100px;
    width: 100%;
    background-color: rgb(201, 201, 201);
  }
  .index-ul {
    width: 100%;
  }
  .three-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .three-set {
    width: 50%;
    min-width: 200px;
    min-height: 300px;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 20px;
    background-color: rgb(167, 167, 167);
  }
  .circle-container {
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .round {
    margin-bottom: 10px;
  }
  .halfset {
    width: 40%;
    min-width: 200px;
    min-height: 300px;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 20px;
  }
  .fourth-set {
    width: 40%;
    min-width: 200px;
    min-height: 300px;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 20px;
  }
  .ad-long {
    background: url('https://picsum.photos/1000/100');
  }
  .profile-pic img {
    margin-top: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}
